/*
    Todos
*/
.titulo-artigo{
    user-select: none;
    text-align: center;
    margin: 30px 0;
}
.artigo-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.artigo-container a{
    width: 100%;
    max-width: 720px;
    min-width: 405px;
    min-height: 350px;
}
.artigo-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 720px;
    min-width: 405px;
    min-height: 350px;
    border: 0;
    border-radius: 10px;
}
.resumo{
    text-align: center;
    width: 50%;
}
.artigo{
    width: 90%;
    margin: 0 auto;
}
.artigo p{
    margin-bottom: 20px;
}
.referencia{
    width: 90%;
    margin: 4% auto;
    padding: 10px 0;
}
.referencia h3{
    margin-left: 30px;
    margin-bottom: 15px;
    color: white;
}
.referencia a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 30px;
    padding: 8px;
    min-width: max-content;
    border-radius: 3px;
}
.referencia a:hover{
    background-color: white;
    transition: 1s all;
}
@media (max-width: 950px){
    .artigo-container{
        display: block;
    }
    .artigo-img{
        margin: 0 auto;
    }
    .resumo{
        margin: 15px auto 25px auto;
        width: 90%;
    }
}
@media (max-width: 750px){
    iframe{
        display: none;
    }
    .a9{
        display: none;
    }
}
@media (max-width: 465px){
    .artigo-img{
        min-height: 225px;
        min-width: 300px;
    }
    .resumo{
        display: none;
    }
    .resumo9{
        display: block;
    }
}
@media (max-width: 455px){
    .artigo-img{
        min-height: 150px;
        min-width: 200px;
    }
    .referencia a{
        display: block;
        margin-top: 7px;
    }
}
/*
    Artigo 1
*/
.t1{
    color: #2362ac;
}
.img1{
    background-image: url(../images/health+.svg);
}
#back1{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #2362ac 50%);
    animation: 1s both .8s;
}
@keyframes back1{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
#more{
    animation: mais 10s infinite;
}
.r1{
    background-color: #2362ac;
}
.r1 a:hover{
    color: #2362ac;
}
.artigo1-link{
    text-decoration: none;
    color: #2362ac;
    font-weight: bold;
}
/*
    Artigo 2
*/
.t2{
    color: #396355;
}
.img2{
    background-image: url(../images/atividade1.jpg);
}
#back2{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #396355 50%);
    animation: 1s both .8s;
}
@keyframes back2{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r2{
    background-color: #396355;
}
.r2 a:hover{
    color: #396355;
}
/*
    Artigo 3
*/
.t3{
    color: #bbd75c;
}
.img3{
    background-image: url(../images/atividade2.png);
}
#back3{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #bbd75c 50%);
    animation: 1s both .8s;
}
@keyframes back3{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r3{
    background-color: #bbd75c;
}
.r3 a:hover{
    color: #bbd75c;
}
/*
    Artigo 4
*/
.t4{
    color: #c8dfbc;
}
.img4{
    background-image: url(../images/atividade3.png);
}
#back4{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #c8dfbc 50%);
    animation: 1s both .8s;
}
@keyframes back4{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r4{
    background-color: #c8dfbc;
}
.r4 a:hover{
    color: #c8dfbc;
}
/*
    Artigo 5
*/
.t5{
    color: #6e7ed6;
}
.img5{
    background-image: url(../images/atividade4.jpg);
}
#back5{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #6e7ed6 50%);
    animation: 1s both .8s;
}
@keyframes back5{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r5{
    background-color: #6e7ed6;
}
.r5 a:hover{
    color: #6e7ed6;
}
/*
    Artigo 6
*/
.t6{
    color: #c04192;
}
.img6{
    background-image: url(../images/atividade5.jpg);
}
#back6{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #c04192 50%);
    animation: 1s both .8s;
}
@keyframes back6{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r6{
    background-color: #c04192;
}
.r6 a:hover{
    color: #c04192;
}
/*
    Artigo 7
*/
.t7{
    color: #292a3f;
}
.img7{
    background-image: url(../images/atividade6.jpg);
}
#back7{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #292a3f 50%);
    animation: 1s both .8s;
}
@keyframes back7{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r7{
    background-color: #292a3f;
}
.r7 a:hover{
    color: #292a3f;
}
/*
    Artigo 8
*/
.t8{
    color: #f5a66d;
}
.img8{
    background-image: url(../images/atividade7.jpg);
    background-position: 0 100%;
    
}
#back8{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #f5a66d 50%);
    animation: 1s both .8s;
}
@keyframes back8{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r8{
    background-color: #f5a66d;
}
.r8 a:hover{
    color: #f5a66d;
}
/*
    Artigo 9
*/
.t9{
    color: #C1D28C;
}
.img9{
    background-color: #C1D28C;
    background-image: url(../images/logo-fit-home.png);
    background-size: 30%;
}
#back9{
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #C1D28C 50%);
    animation: 1s both .8s;
}
@keyframes back9{
    100%{
        background-position: -100% 0;
        color: white;
    }
}
.r9{
    background-color: #C1D28C;
}
.r9 a:hover{
    color: #C1D28C;
}
iframe{
    width: 90%;
    height: 90%;
    margin: 0 5%;
}
.artigo h2{
    text-align: center;
    margin: 25px;
    color: #C1D28C;
}