/*
    Titulo
*/
.titulo{
    text-align: center;
    margin: 30px auto 10px auto;
    color: #003cff;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #003cff 50%);
    animation: titulos 1s both .9s;
    width: max-content;
    padding: 5px;
    transition: .5s all;
    user-select: none;
}
/*
    Artigos
*/
.artigos{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    transition: .5s all;
}
.artigos *{
    text-decoration: none;
}
.artigos a{
    width: max-content;
}
.rec{
    display: inline-block;
    position: relative;
    width: 29%;
    min-height: 300px;
    margin: 30px 20px;
    text-decoration: none;
    transition: .5s all;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
}
.rec h3{
    color: #292929;
    position: absolute;
    bottom: -30px;
    left: 11px;
    transition: .5s all;
    padding: 3px;
}
.artigo{
    cursor: pointer;
}
/*
    Imagens dos artigos
*/
.artigo1{
    background-image: url(../images/health+.svg);
}
.artigo2{
    background-image: url(../images/atividade1.jpg);
}
.artigo3{
    background-image: url(../images/atividade2.png);
}
.artigo4{
    background-image: url(../images/atividade3.png);
}
.artigo5{
    background-image: url(../images/atividade4.jpg);
}
.artigo5 h3{
    color: #292929;
}
.artigo6{
    background-image: url(../images/atividade5.jpg);
    background-size: 90%;
}
.artigo6 h3{
    color: #292929;
}
.artigo7{
    background-image: url(../images/atividade6.jpg);
}
.artigo7 h3{
    color: #292a3f;
}
.artigo8{
    background-image: url(../images/atividade7.jpg);
    background-position: 0 100%;
}
.artigo8 h3{
    color: #292929;
}
.artigo9{
    background-color: #C1D28C;
    transition: 1s all;
}
.artigo9-conteudo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.artigo9-conteudo img{
    width: 30%;
    height: 50%;
}
.artigo9 .artigo9-conteudo h3{
    color: #292929;
    position: absolute;
    bottom: 8px;
    left: 11px;
    transition: .5s all;
    padding: 3px;
}
.artigo9:hover{
    background-color: white;
}
.artigo9:hover .artigo9h3{
    color: #C1D28C;
}
@media (max-width: 1210px){
    .rec{
        min-width: 400px;
        min-height: 225px;
        margin-top: 15px;
    }
}
@media (max-width: 1469px) {
    .rec{
        width: 43.5%;
    }
}
@media (max-width: 500px){
    .rec{
        min-width: 250px;
        min-height: 125px;
    }
}