/*
    Propriedades Gerais
*/
*{
    animation: linear;
    scroll-behavior: smooth;
}
/*
    Artigos Recomendados
*/
.artigos_recomendados{
    text-align: center;
    margin: 30px auto 5px auto;
    cursor: default;
    width: max-content;
    padding: 5px;
    border: 0;
    color: #899f3b;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #899f3b 50%);
    transition: 1s all;
    user-select: none;
    animation: titulos 1s both .5s;
}
.recomendation-container{
    width: 100%;
    margin-top: 25px;
    display: inline-block;
    text-align: center;
    transition: .5s all;
}
.recomendation-container *{
    text-decoration: none;
}
.rec{
    display: inline-block;
    position: relative;
    width: 30%;
    max-width: 570px;
    min-height: 300px;
    margin: 0 10px;
    text-decoration: none;
    transition: .5s all;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rec h3{
    color: #292929;
    font-size: larger;
    position: absolute;
    bottom: -30px;
    left: 11px;
    transition: .5s all;
    padding: 3px;
}
.recomendation1{
    background-image: url(../images/atividade1.jpg);
}
.recomendation2{
    background-image: url(../images/atividade2.png);
}
.recomendation3{
    background-image: url(../images/atividade3.png);
}
@media (max-width: 1210px){
    .rec{
        min-width: 400px;
        min-height: 225px;
    }
    .recomendation3{
        margin-top: 15px;
    }
}
@media (max-width: 861px){
    .recomendation2{
        margin-top: 15px;
    }
}
@media (max-width: 500px){
    .rec{
        min-width: 250px;
        min-height: 125px;
    }
    .rec h3{
        color: #D6006E;
    }
}
/*
    Calculadora de IMC
*/
.imc-container{
    text-align: center;
    background-color: #292929;
    padding: 1px;
    padding-bottom: 31px;
    margin-top: 60px;
}
.imc-container h2{
    margin-top: 40px;
    margin-bottom: 5px;
    color: white;
}
.imc{
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
main{
    margin: 50px auto;
    text-align: center;
}
main .inputs{
    text-align: left;
}
.titulo-imc h2{
    margin: 20px auto 0 auto;
    cursor: default;
    width: max-content;
    padding: 5px;
    transition: .5s all;
    user-select: none;
    color: #FF0080;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #292929 50%, #FF0080 50%);
    animation: titulos 1s both .9s;
}
.informacoes{
    width: 40%;
    padding: 50px;
    background-color: #292929;
    border: 0px solid #292929;
    border-radius: 15px;
    text-align: left;
    transition: .5s all;
}
.informacoes main{
    margin: 0 auto;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.imc input[type=text]{
    border: 0;
    border-bottom: 2px solid white;
    padding: 3px;
    height: 30px;
    width: 40px;
    transition: .5s all;
    outline: none;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 10px;
}
.imc .inputaltura input[type=text], .imc .inputpeso input[type=text]{
    width: 55px;
}
.imc input[type=text]:focus{
    animation: formanimation .5s forwards;
}
@keyframes formanimation{
    0%{
        border-bottom: 2px solid white;
    }
    100%{
        border-bottom: 2px solid #FF0080;
    }
}
.inputidade *{
    display: inline-block;
    color:white;
}
.inputidade p{
    margin: 5px 8px;
    color: white;
}
.inputidade input{
    margin-left: 3px;
}
.inputaltura *{
    display: inline-block;
    color:white;
}
.inputaltura p{
    margin: 5px 8px;
    color: white;
}
.inputpeso *{
    display: inline-block;
    color:white;
}
.inputpeso p{
    margin: 5px 8px;
    color: white;
}
.inputpeso input{
    margin-left: 7px;
}
.resultado{
    width: 40%;
    background-color: #5f5f5f;
    border: 0px solid;
    border-radius: 10px;
    height: 249px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}
.resultado2{
    padding: 8px;
    color: white;
}
#resultado-titulo, #resultado{
    transition: .5s all;
    text-align: center;
}
#resultado-titulo{
    width: max-content;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: #5f5f5f;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #5f5f5f 50%, #FF0080 50%);
    user-select: none;
}
#resultado{
    margin-top: 13px;
    font-size: 18px;
    color: #5f5f5f;
}
@keyframes imcpanim{
    100%{
        color: white;
    }
}
.inputs{
    display: inline-block;
    margin: 0 15px;
}
.inputs p{
    font-size: 20px;
}
.escolha{
    margin: 5px 15px;
    text-align: center;
}
.imc button{
    display: block;
    margin: 0 auto;
    background-color: #FF0080;
    outline: 0;
    border: 0;
    border: 1px solid #FF0080;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}
.imc button:hover{
    cursor: pointer;
}
.escolha input{
    display: none;
}
.escolha label{
    display: inline-block;
    padding: 10px;
    background-color: #292929;
    border: 1px solid white;
    border-radius: 20px;
    margin: 15px 0;
    transition: .5s all;
    font-size: bold;
    color: white;
}
.escolha input[type=radio]:checked + label{
    background-color: #FF0080;
    color: #fff;
    border-color: #FF0080;
}
.opcao1,.opcao2{
    display: inline-block;
}
.escolha input[type=radio]:hover + label{
    cursor: pointer;
}
@media (max-width: 1557px){
    .resultado{
        height: 261px;
    }
}
@media (max-width: 1023px){
    .imc{
        display: block;
        margin: 0 auto;
    }
    .informacoes,.resultado{
        margin: 0 auto;
        width: 60%;
        min-width: 405px;
        height: 261px;
    }
    .informacoes{
        display: block;
    }
    .resultado{
        margin-top: 55px;
    }
}
@media (max-width: 500px){
    .informacoes, .resultado{
        width: 80%;
        min-width: 192px;
    }
    .informacoes{
        height: auto;
        width: max-content;
    }
    .resultado{
        padding-top: 0;
        margin-top: 0;
    }
}
/*
    Vídeo
*/
.video-texto{
    text-align: center;
}
.titulo-video{
    width: max-content;
    text-align: center;
    min-width: 270px;
    margin: 30px auto 5px auto;
    padding: 5px;
    cursor: default;
    border: 0;
    color: #fdb74e;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #fdb74e 50%);
    transition: 1s all;
    user-select: none;
    animation: titulos 1s both .9s;
}
@keyframes videoanimation{
    0%{
        border-color: red;
    }
    20%{
        border-color: hotpink;
    }
    30%{
        border-color: yellow;
    }
    40%{
        border-color: #66ff66;
    }
    50%{
        border-color: green;
    }
    60%{
        border-color: aqua;
    }
    80%{
        border-color: blue;
    }
    100%{
        border-color: red;
    }
}
.video-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.video{
    display: inline-block;
}
.video1{
    width: 560px;
    height: 315px;
}
.video2{
    width: 400px;
    height: 225px;
    display: none;
}
.video3{
    width: 304px;
    height: 171px;
    display: none;
}
.texto{
    display: inline-block;
    transition: .5s all;
    width: 35%;
    max-width: 560px;
    min-width: 200px;
    height: auto;
    max-height: 319px;
}
.texto h4{
    color: white;
    animation: subtitulos 2.5s both 2.3s;
}
.texto p{
    color: white;
    text-align: justify;
    margin-top: 10px;
    animation: subtitulos 2.5s both 2.3s;
}
.video-item{
    margin: 0 15px;
}
@media (max-width: 1133px){
    .video-area{
        display: initial;
    }
}
@media (max-width: 1024px){
    .titulo-video{
        margin-bottom: 25px;
    }
    .video2{
        margin-top: 5px;
    }
    .texto{
        margin-top: 23px;
        width: 75%;
    }
    .texto p{
        margin-top: 10px;
    }
}
@media (max-width: 660px){
    .video2{
        display: block;
    }
    .video1{
        display: none;
    }
}
@media (max-width: 500px){
    .video1{
        display: none;
    }
    .video2{
        display: none;
    }
    .video3{
        display: block;
    }
}
/*
    Formulário
*/
.formulario{
    width: 45%;
    min-width: 600px;
    margin: 0 auto;
    transition: .5s all;
    padding: 30px 25px;
}
.formulario h2{
    user-select: none;
    padding: 5px;
    width: max-content;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    color: rgb(205, 43, 226);
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, rgb(205, 43, 226) 50%);
    animation: titulos 1s both .9s;
}
.formulario input[type=text]{
    font-size: 15px;
    margin: 20px auto;
    width: 75%;
    max-width: 75%;
    padding: 12px;
    background-color: white;
    border: 2px solid rgba(205, 43, 226, 0.45);
    border-radius: 5px;
    outline: 0;
    display: block;
    transition: .5s all;
}
.formulario input[type=text]:hover, .formulario input[type=text]:focus{
    border-color: rgb(205, 43, 226);
}
.formulario textarea{
    font-size: 15px;
    overflow-y: auto;
    resize: none;
    margin: 20px auto;
    width: 75%;
    height: 100px;
    max-width: 75%;
    padding: 12px;
    background-color: white;
    border: 2px solid rgba(205, 43, 226, 0.45);
    border-radius: 5px;
    outline: 0;
    display: block;
    transition: .5s all;
}
.formulario textarea:hover, .formulario textarea:focus{
    border-color: rgb(205, 43, 226);
}
.formulario textarea::-webkit-scrollbar{
    width: 5px;
}
.formulario textarea::-webkit-scrollbar-thumb{
    background: rgb(205, 43, 226);
}
.formulario button[type=submit]{
    font-size: 16px;
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 0;
    outline: 0;
    padding: 10px 30px;
    color: rgb(205, 43, 226);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 1px;
    overflow: hidden;
    transition: .5s;
}
.formulario button[type=submit]:hover{
    background: rgb(205, 43, 226);
    color: white;
    transition-delay: .5s;
    box-shadow: 0 0 25px rgb(205, 43, 226);
}
.formulario button[type=submit]:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgb(205, 43, 226);
    border-left: 2px solid rgb(205, 43, 226);
    transition: .5s;
}
.formulario button[type=submit]:hover:before{
    width: 100%;
    height: 100%;
}
.formulario button[type=submit]:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid rgb(205, 43, 226);
    border-right: 2px solid rgb(205, 43, 226);
    transition: .5s;
}
.formulario button[type=submit]:hover:after{
    width: 100%;
    height: 100%;
}
@media (max-width: 900px){
    .formulario{
        width: 70%;
        min-width: 405px;
        margin: 0 auto;
    }
}
@media (max-width: 735px){
    .formulario{
        min-width: 500px;
    }
}
@media (max-width: 500px){
    .formulario{
        min-width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 415px){
    .formulario{
        min-width: 330px;
        margin: 0 auto;
    }
}