/*
    Título
*/
.sobrenos-titulo{
    text-align: center;
    margin: 30px auto 10px auto;
    color: #a43cac;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #a43cac 50%);
    animation: titulos .8s both .4s;
    width: max-content;
    padding: 5px;
    transition: .5s all;
    user-select: none;
}
/*
    Sobre Nós
*/
.sobrenos{
    width: 90%;
    margin: 20px auto;
}
.sobrenos p{
    margin-top: 30px;
}
.sobrenos-span{
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    color: #a43cac;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #a43cac 50%);
    animation: titulos .8s both .4s;
    width: max-content;
    padding: 5px;
    padding-bottom: 3px;
    transition: .5s all;
    user-select: none;
}
.sobrenos a{
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: #C1D28C;
    font-weight: bold;
    margin: 0 auto;
    user-select: none;
    height: auto;
}
.sobrenos img{
    margin: 30px auto 0 auto;
    width: 100%;
    height: 30%;
    max-height: 500px;
}
.sobrenos .textodaimagem{
    text-align: center;
    margin-top: -1px;
    user-select: none;
}
/*
    Redes sociais
*/
.redes{
    width: 100%;
    text-align: center;
    margin: 35px auto;
}
.redes *{
    display: inline-block;
}
.redes-sociais-container{
    margin: 47px auto;
}
.redes-sociais-container h2{
    text-align: center;
    margin: 0 auto;
    max-width: max-content;
    padding: 5px;
    cursor: default;
    transition: .5s all;
    user-select: none;
    color: #f42d86;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #f42d86 50%);
    animation: titulos 1s both .8s;
}
.redes a{
    width: max-content;
    min-width: 90px;
    max-width: 120px;
    min-height: 30px;
    margin: -10px 15px;
}
.rede{
    width: 100%;
    max-width: 120px;
    min-height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s all;
}
.facebook{
    background-image: url(../images/facebook.svg);
}
.instagram{
    background-image: url(../images/instagram.svg);
}
.twitter{
    background-image: url(../images/twitter.svg);
}
.facebook, .instagram, .twitter{
    display: inline-block;
    margin: 0;
}
@media (max-width: 385px){
    .redes a{
        margin: -10px 5px;
    }
}
/*
    Footer / Rodapé
*/
footer{
    border-top: 2px solid #505050;
    width: 100%;
    padding: 15px;
    position: relative;
    bottom: 0;
    left: 0;
}
.logo-rodape{
    margin: 0 auto;
}
.texto-rodape h5{
    margin-top: 5px;
    text-align: center;
}